input[type=text]{
    width: 80%;
    padding: 18px 5px;
    margin: 3px 44px;
    border: none;
    font-size:24px;
}

#noteSearchBar{
 color: black;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
 position:absolute;
 z-index: 5;
 top: 30%;
 margin-left: 63%;
}
#noteSearchButton{
 color: black;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
 position:absolute;
 z-index: 5;
 top: 93%;
 margin-left: 63%;
}

button.back {
    background: solid;
    background-color: white;
    border: -5px;
    vertical-align: center;
    color: black;
    font-size: 30px;
    position: absolute;
    left: 0px;
    line-height: 60px;
    margin-top: -68px;
}

button.search{

    margin-top: 393px;
    margin-left: 275px;
    background: transparent;
    color: white;
    z-index = 1;
}

.keys {
    border:none;
    width: 100%;
    height: 220px;
    margin-top: 255px;
}

.results {
    position: absolute;
    display:none;
    width: 100%;
    height: 220px;
    margin-top: -480px;
	z-index: 5;

}


#noteGoBack{
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	position:absolute;
	z-index: 5;
	top: 60%;
	left: 18%;
}

#backgroundClick {
	width: 317px;
	height: 255px;
	background-color: black;
	opacity: 0;
	position:absolute;
	top:87px;
}

#mapIcons {
    z-index:1;
}

#Churchill{
	position:absolute;
	top: 100px;
	left: 0px;
}

#Cafe{
	position:absolute;
	top: 102px;
	left: 0px;
}

#Cafe2 {
	position:absolute;
	top: 104px;
	left: 0px;
}

#store1 {
	position:absolute;
	top: 104px;
	left: 0px;
}


#store2 {
	position:absolute;
	top: 104px;
	left: 0px;
	top: 104px;
	left: 0px;

}
