body {
    background-repeat:no-repeat;
    background-size:cover;
}

/*****************************************
 ***********  WEBSITE CSS  ***************
 ****************************************/

.box:hover{
    background-color: Black;
}
.mid {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-450px;
    margin-left:-512px;
}
.phone {
    width: 1024px;
    height: 1024px;
    background: url(images/phone.jpg);
    opacity: 0.9;
    /*border: solid 4px #36454f;*/
}
.topbar {
    position:absolute;
    background-color: #36454f;
    margin-top:-20px;
    margin-left:-20px;
    width: 150%;
    height: 50px;
    z-index: 1;
}
.button{
    background-color: #36454f;
}

#drop:hover{
    background-color:Black;
    .buttonText {
        color:blue;
    }
}
#drop {
    width:100px;
    height:50px;
    background-color: #36454f;
    position:relative;
}

.loadtitle {
    background: url("./images/crowdz2.PNG") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;

}
IMG.assurance {
  margin-top: 300px;
   margin-right: auto;
   margin-left: auto;
   display: block;
   width: 20%;
   opacity: .75;
}
button.OK {
   margin-right: auto;
   margin-left: auto;
   display: block;
   width: 10%;
   opacity: .75;
}
button.back {
  background: transparent;
  border: none !important;
  vertical-align: center;
  color: white;
  font-size: 30px;
  position: absolute;
  left: 5px;
  line-height: 60px;
}
button.invisible {
  height: 100px;
  width: 100%;
  float: left;
  text-align: left;
  background: transparent;
  border: none !important;
}
/*
 * ANDROID CSS
 *
 */


/*****************************************
 ***********  Android CSS  ***************
 ****************************************/
.screen {
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -286px;
    margin-left: -160px;
    width: 317px;
    height: 561px;

    background-image: url(images/background_map.png);

    display:inline-block;

}

.buttonText{
    color:white;
    position:absolute;
    margin-top: 22%;
    margin-left: 35%;
}




#androidBar {
    width: 317px;
    height: 17px;
    background-color: #006600;
    opacity: 1;
    vertical-align:top;
}
#Time {
    position:relative;
    margin-top: -18px;
    margin-left: 250px;
    font:15px arial, sans-serif;
    color:White;
    opacity: .8;
    padding-bottom: 5px;
}

.crowdz {
        width:297px; /* -20 from padding of logo */
        height:80px;
        margin-top: -10px;

        background-color: #00cc00;
        position:relative;
}
#logo {
    position:relative;
    margin-top: -19px;

    padding-top: 10px;
    padding-left:20px;
    font:18px arial, sans-serif;
}

#mapLabel {
    position:relative;
    margin-top:  -10px;
    /*margin-left: 10px;*/
    padding-top: 10px;
    font:18px arial, sans-serif;
}

#favouritesLabel {
    position:relative;
    margin-top:  -50px;
    margin-left: 200px;
    padding-top: 10px;
    font:18px arial, sans-serif;
}

#testButtonOpen {
    position:absolute;
    margin-top: 588px;
    margin-left: 640px;
    z-index:2;

}

#testButtonClose {
    position:absolute;
    margin-top: 25%;
    margin-left: 20%;
    z-index:2;

}



.infoBar {


}

#infobar-background {

}


}

/*TEXT INPUT*/
form {
  border: none
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 100%;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  margin: 0;
}
.feedback {
  padding: 20px 20px 0 20px;
}
.feedback input {
  border: none;
  border-bottom: 2px solid #ccc;
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
  font-size: 15px;
}
.send-feedback {
  padding: 20px;
}
.send-feedback .btn {
  background: #389494;
  box-shadow: 0px 2px 0px #ccc;
  border: 0;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 15px;
  width: 90px;
  height: 40px;
  padding: 8px 16px;
}
.send-feedback label {
  color: #7c7c80;
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}
