body {
    background-repeat:no-repeat;
    background-size:cover;
}

/*****************************************
 ***********  WEBSITE CSS  ***************
 ****************************************/

#note1{
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	position:absolute;
	z-index: 5;
	top: 85%;
	left: 20%;
}

#note2 {
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	position:absolute;
	z-index: 5;
	top: 30%;
	left: 65%;
}

#note3 {
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	position:absolute;
	z-index: 5;
	top: 5%;
	left: 35%;
}

.box:hover{
    background-color: Black;
}
.mid {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-400px;
    margin-left:-512px;
}
.phone {
    width: 1024px;
    height: 1024px;
    background: url(images/phone.jpg);
    opacity: 0.9;
    /*border: solid 4px #36454f;*/
}
.topbar {
    position:absolute;
    background-color: #36454f;
    margin-top:-20px;
    margin-left:-20px;
    width: 150%;
    height: 50px;
    z-index: 1;
}
.button{
    background-color: #36454f;
	width: 200px;
}

#drop:hover{
    background-color:Black;
    .buttonText {
        color:blue;
    }
}
#drop {
    width:100px;
    height:50px;
    background-color: #36454f;
    position:relative;
}

.croudzBackground {
    background: url("./images/crowdz2.PNG") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;

}
.assurance {
  margin-top: 300px;
   margin-right: auto;
   margin-left: auto;
   display: block;
   width: 20%;
   opacity: .75;
}

button.OK {
   margin-right: auto;
   margin-left: auto;
   display: block;
   width: 10%;
   opacity: .75;
}
button.back {
  background: transparent;
  border: none !important;
  vertical-align: center;
  color: white;
  font-size: 30px;
  position: absolute;
  left: 5px;
  line-height: 60px;
}
button.invisible {
  height: 100px;
  width: 100%;
  float: left;
  text-align: left;
  background: transparent;
  border: none !important;
}
/*
 * ANDROID CSS
 *
 */
/*****************************************
 ***********  Android CSS  ***************
 ****************************************/
.screen {
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -286px;
    margin-left: -160px;
    width: 317px;
    height: 561px;

    background-image: url(images/background_map.png);

    display:inline-block;

}

.buttonText{
    color:white;
    position:absolute;
    margin-top: 22%;
    margin-left: 35%;
}

#androidBar {
    width: 317px;
    height: 20px;
    background-color: #006600;
    opacity: 1;
    margin-top: 18px;
    vertical-align:top;
    opacity: .8;
}
#Time {
    position:relative;
    margin-top: -21px;
    margin-left: 50px;
    font:15px arial, sans-serif;
    color:White;
    opacity: .8;
    padding-bottom: 0px;
}

#statusBarIcons {
    margin-top: -20px;
    margin-bottom: 5px;
    margin-left:200px;
    padding-bottom: 1px;
    padding-top: 2px;

    position:relative;
    z-index: 0;
}

#cellAndWifi {
    position:relative;
    padding-top: -10px;
}

.crowdz {
        width:277px; /* -20 from padding of logo */
        height:65px;
        margin-top: 0px;
        background-color: #45a162;
        position:relative;
        z-index: 3;
        padding-left: 20px;
        padding-right: 20px;
        font-family: -apple-system,
        BlinkMacSystemFont, "Segoe UI",
        Helvetica, Arial, sans-serif;
        color:white;
}

#logo {
    position:relative;
    padding-top: 20px;
    /*font:18px arial, sans-serif;*/
}


#bookmarks {
	font-size: 16px;
}
#bookmarksClick{
	margin-top: -48px;
	margin-right:15px;
	padding-right: 25px;

	height: 50px;
	width: 120px;
	float: right;
	background: transparent;
	border: none !important;
	color:white;
  cursor: pointer;
}

#maps {
	font-size: 16px;
  top: 10px;

}

#plsworkmaps{
	margin-top: 0px;
	float: left;
	margin-right:15px;
}

#mapsClick{
	padding-right: 25px;
	height: 17px;
	width: 100px;
	background: transparent;
	border: none !important;
	color:white;
  position: relative;
}

#mapAndFav {
  margin-top: 5px;
	padding-left: 40px;
  position:relative;
}

#mapLabel {
    position:relative;
    top: 5px;
    /*font:18px arial, sans-serif;*/
}

#underlineGrey {
  width: 158px;
  height:2px;
  background-color: black;
  opacity: .4;
  position:relative;
  top: -5px;
  left: -60px;

}
#underlineWhite {
  width: 159px;
  height:2px;
  background-color: white;
  position:relative;
  top: -7px;
  left: 20px;
  float: right;

}


button.search{
    position:absolute;
    margin-top:  -80px;
    margin-left: 235px;
    padding: 5px;
    font:16px arial, sans-serif;
    background: solid;
    background-color: #45a162;
    border:none;
    color:white;
    z-index: 1;
    float: right;


}

button.search2{
    position:absolute;
    margin-top:  -80px;
    margin-left: 235px;
    padding: 5px;
    font:16px arial, sans-serif;
    background: solid;
    background-color: #45a162;
    border:none;
    color:white;
    z-index: 1;
    float: right;
}

button.dropbtn {
    position:absolute;
    margin-top:  -80px;
    margin-left: 270px;
    background: solid;
    background-color: #45a162;
    font:24px arial, sans-serif;
    border:none;
    padding: 5px;
    color:white;
    z-index: 3;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top:  -85px;
    margin-left: 145px;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    margin-top:  -85px;
    margin-left: 300px;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
}

/* Links inside the dropdown */
.dropdown-content a {
    font:16px arial, sans-serif;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 a {
  /*padding-top: 5px;*/
    font:16px arial, sans-serif;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#dropDown {
	left: -155px;
	top: 39px;
	margin-top:10px;
	position:relative;
}



#favouritesLabel {
	position:relative;
	float:right;
	margin-top: -18px;
	padding-right: 25px;
  font-size: 16px;
    /*margin-left: 200px;*/

    /*font:18px arial, sans-serif;*/
}

#mapIcons {

    z-index:3;
}
#streetCart{
	position: absolute;
	left:170px;
	top: 480px;

}
#Churchill{
	position:absolute;
	margin-top: 10px;
	margin-left: 236px;
}
#Cafe{
	position:absolute;
	margin-top: 165px;
	margin-left: 186px;
}
#Cafe2 {
	position:absolute;
	margin-top: 90px;
	margin-left: 53px;
}
#store1 {
	position:absolute;
	margin-top: 90px;
	margin-left: 122px;
}
#store2 {
	position:absolute;
	margin-top: 190px;
	margin-left: 53px;
}
#store3 {
	position:absolute;
	margin-top: 310px;
	margin-left: 43px;
}

#testButtonClose {
    position:absolute;
    margin-top: 25%;
    margin-left: 20%;
    z-index:2;

}

.bottomBar {
	position:absolute;
	top: 510px;
	z-index: 11;
}

#nonfunctionalButtons {
	position:absolute;
	float:right;
	margin-top: -57px;
	left:96px;
}


.hide {
  height: 0;
}

#infoBarSlideIn {
    transition-property: all;
    overflow-y: hidden;
    left: -200px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 1.5s;
    animation: slide 0.5s forwards;
    animation-delay: 1.25s;
}


@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.infoBar {
  opacity: .8;
}

#infobar-background {

}


}

/*TEXT INPUT*/
form {
  border: none
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 100%;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  margin: 0;
}
.feedback {
  padding: 20px 20px 0 20px;
}
.feedback input {
  border: none;
  border-bottom: 2px solid #ccc;
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
  font-size: 15px;
}
.send-feedback {
  padding: 20px;
}
.send-feedback .btn {
  background: #389494;
  box-shadow: 0px 2px 0px #ccc;
  border: 0;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 15px;
  width: 90px;
  height: 40px;
  padding: 8px 16px;
}
.send-feedback label {
  color: #7c7c80;
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}
